* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

button {
    text-align: center;
    padding: 1em;
}

.subtitle {
    margin: -1.5em 0 0 0;
}

a {
    text-decoration:  none;
    color: darkslategrey;
}

.top {
    align-items: flex-start;
    margin-top: 5em;
}

.middle {
    /* flex-direction: column; */
    display: flex;
    gap: 0.25em;
    align-items: start;
    /* justify-content: space-between; */
    background-color: beige;
    border-radius: 4px;
    padding: 1em;
}

.padRow-1,
.padRow-2,
.padRow-3,
.padRow-4 {
    flex-direction: column;
    display: flex;
    gap: 0.25em;
    width: 100px;
}

.displayRow-1 {
    height: 6em;
    width: 20em;
    padding: 1em;
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 4px;
    text-align: right;
}

/* Buttons "AC", "±", "%" */
.buttonPad-color1 {
    background-color: aqua;
    border-radius: 4px;
    font-weight: bold;
}

/* Buttons operators */
.buttonPad-color2 {
    background-color: lightsalmon;
    border-radius: 4px;
    font-weight: bold;
}

/* Buttons numbers */
.buttonPad-color3 {
    background-color: lightsteelblue;
    border-radius: 4px;
    /* font-weight: bold; */
}

.bottom {
    display: flex;
    /* background-color: #1f2937; */
    justify-content: space-between;
    flex: auto;
    border-radius: 8px;
    color: #e5e7eb;
    text-align: center;
    /* padding: 15px; */
    /* font-size: 14px; */
    gap: 1em;
}