* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

button {
    text-align: center;
    padding: 1em;
}

.subtitle {
    margin: -1.5em 0 0 0;
}

a {
    text-decoration:  none;
    color: darkslategrey;
}

.top {
    align-items: flex-start;
    margin-top: 5em;
}

.middle {
    /* flex-direction: column; */
    display: flex;
    gap: 0.25em;
    align-items: center;
    /* justify-content: space-between; */
    background-color: beige;
    border-radius: 4px;
}

.padRow-1,
.padRow-2,
.padRow-3,
.padRow-4 {
    flex-direction: column;
    display: flex;
    gap: 0.25em;
    width: 100px;
}

.displayRow-1 {
    /* flex-direction: column; */
    padding: 1em;
    align-items: center;
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 4px;
}

/* .divGridRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.divGridBox {
    flex: auto;
} */

.bottom {
    display: flex;
    /* background-color: #1f2937; */
    justify-content: space-between;
    flex: auto;
    border-radius: 8px;
    color: #e5e7eb;
    text-align: center;
    /* padding: 15px; */
    /* font-size: 14px; */
    gap: 1em;
}